<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css" 
    integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" 
    crossorigin="anonymous">

    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="container text-center mt-3">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>